<br />
<br /><br />
<div class="inicio">
  <div class="container cont-description">
    <div class="row">
      <div class="col-md-7 info">
        <h1>Edison Osorio Pérez</h1>
        <P>
          ¡HOLA! Soy Edison, estudiante de análisis y desarrollo de sistemas de
          información. Apasionado a la programación y con muchas ganas de
          aplicar todo mis conocimientos en un proyecto.
        </P>

        <ul class="nav ms-5">
          <li class="nav-item">
            <a
              class="icono"
              target="_blank"
              href="https://github.com/Edison-Osorio/"
            >
              <i class="fa-brands fa-github"></i>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="icono ms-4 me-3"
              target="_blank"
              href="https://www.linkedin.com/in/edison-osorio-perez/"
            >
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </li>
          <!-- <li class="nav-item">
            <button class="btn btn-secondary">Download CV</button>
          </li> -->
        </ul>
      </div>
      <div class="col-md-5">
        <img
          class="img-header"
          src="./assets/img/foto-edison.jpg  "
          alt="Photo Edison"
        />
      </div>
      <div class="d-flex justify-content-start">
        <div class="frase">
          <p>El arte desafía a la tecnologia y la tecnologia inspira al arte</p>
          <p class="autor">JOHN LASSETER</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-skills></app-skills>
<app-proyects></app-proyects>
<app-contacts></app-contacts>
