<!-- navigations -->
<nav
  class="navbar navbar-expand-lg navbar-light mx-5 navegation"
>
  <div class="container">
    <a class="bnavegacion navbar-brand title-navegation" routerLink="/">
      <img src="./assets/img/logo-edison.png " alt="logo-edison" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarText">
      <p class="navbar-nav me-auto mb-2 mb-lg-0"></p>
      <ul class="navbar-nav d-flex justify-content-end">
        <!-- <li class="nav-item">
          <a
            class="nav-link btn  text-center"
            routerLinkActive="active"
            >Inicio</a
          >
        </li>
        &nbsp; -->
        <li class="nav-item">
          <a
            class="nav-link btn  text-center"
            routerLinkActive="active"
            href="#about"
            >Sobre mi</a
          >
        </li>
        &nbsp;
        <li class="nav-item">
          <a
            class="nav-link btn  text-center"
            routerLinkActive="active"
            href="#proyects"
            >Proyectos</a
          >
        </li>
        &nbsp;
        <li class="nav-item">
          <a
            class="nav-link btn text-center"
            routerLinkActive="active"
            href="#contact"
            >Contacto</a
          >
        </li>
        &nbsp;
      </ul>
    </div>
  </div>
</nav>
